@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 1600px;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(img/main_bg.png); 
    background-repeat: no-repeat;
    margin: auto;
}

.menu {
    width: 1140px;
    display: flex;
    margin: auto;
    
}

.menu>ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style: none;       
}

.menu li {
    margin-top: 42px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    /* font-size-adjust: 0.5; */
    font-weight: 600;
    font-size: 14px;
    margin-left: 3%;
    color: #ffffff;
}

.menu li:hover {
    color: #c0301c;
    cursor: default;
}

.menu li:first-child {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin-right: 355pt;
    margin-top: 35px;
}

.header__text {
    display: flex;
    width: 1140px;
    margin: auto;
    flex-direction: column;
    margin-top: 248px;
    margin-bottom: 260px;
}

.header__text h1 {
    display: flex;
    justify-content: center;    
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 700;
    color: #ffffff;    ;
}

.header__text span {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: "Roboto Slab", serif;
    font-stretch: expanded;
    font-size: 20px;
    color: #ffffff;
}

.header__text button {
    margin: auto;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    width: 180px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: transparent;
}

.header__text button:hover {
    content: '';
    background-color: #ffffff;
    color: red;
}

.section {
    display: flex;
    justify-content: center;
    width: 1600px;
    margin: auto;
    flex-direction: column;
}

.services {
    background-color: #ffffff;
    padding-bottom: 100px;
}

.section__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #555555;
    margin-top: 96px;
}

.section__title::after {
    content: '_____';
    display: flex;
    margin: auto;
    margin-top: 5px;
}

.section__phrase {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 500;
    color: #555555;
    margin-top: 20px;
    margin-bottom: 20px;
}

.services__list {
    display: flex;
    width: 1140px;
    justify-content: center;
    margin: auto;
    list-style: none;     
    margin-top: 52px;  
}

.services__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 32%;
}

.services__item div {
    display: flex;
    border: 2px solid #dddddd;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    margin: auto;
}

.services__item img {
    display: flex;
    justify-content: center;
    margin: auto;
    /* background-color: aqua; */
    width: 40px;
    height: 40px;
}

.services__item:last-child img {
    /* background-color: black; */
    width: 50px;
    height: 50px;
}

.services__item h5 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: 26px;
    color: #555555;
}

.services__item p {
    margin-top: 18px;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    color: #555555;
    text-align: center;
    line-height: 22px;
    /* display: flex; */
    /* justify-content: center; */
}

.services__item:hover .services__item_active{
    /* background-color: #c0301c; */
    border: 2px solid #c0301c;
    border-radius: 50%;
    width: 84px;
    height: 84px;
}

.about-us {
    background-color: #f8f8f8;
    padding-bottom: 60px;
}

.about-us__text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1140px;
    margin: auto;
    margin-top: 46px;
}

.about-us__text p {
    /* width: 30%; */
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    /* padding-right: 40px; */
}

.about-us__team {
    display: flex;
    justify-content: center;
    width: 1140px;
    margin: auto;
    margin-top: 67px;
    list-style: none;
}

.about-us__member {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-right: 26px;
}

.about-us__member:last-child {
    padding-right: 0px;
}

.about-us__member ul {
    list-style: none;
}

.about-us__soc {
    display: flex;
    /* justify-content: center; */
    /* margin: auto; */
    position: relative;
    left: 72px;
    top: -64px;    
    /* font-size: 0; */
}

.about-us__soc a {    
    display: flex;
    background-image: url(img/soc_icons.png);
    width: 28px;
    height: 28px;
    margin-left: 2px;
    border-bottom: 2px solid #c0301c;
}

.about-us__soc li:nth-child(2) a {    
    background-image: url(img/soc_icons.png);
    background-position: -30px;
}

.about-us__soc li:nth-child(3) a {    
    background-image: url(img/soc_icons.png);
    background-position: -60px;
}

.about-us__soc li:nth-child(4) a {    
    background-image: url(img/soc_icons.png);
    background-position: -92px;
}

.about-us__soc a:hover {    
    background-color: #c0301c;
}

.about-us__member h7 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: -18px;
    color: #555555;
}

.about-us__member span {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Roboto Slab", serif;
    font-size: 13px;
    color: #555555;
    margin-top: 9px;
}

.about-us__scroll-btn {
    display: flex;
}

.about-us__scroll-btn a:nth-child(1) {
    display: flex;
    position: relative;
    width: 38px;
    height: 38px;
    background-image: url(img/cr_btn.png);
    background-color: #555555;
    opacity: 0.5;
    top: -206px;
    left: 231px;
}

.about-us__scroll-btn a:nth-child(2) {
    display: flex;
    position: relative;
    width: 38px;
    height: 38px;
    background-image: url(img/cr_btn.png);
    background-color: #555555;
    opacity: 0.5;
    top: -206px;
    left: 1293px;
    transform: rotate(180deg);
}

.about-us__scroll-btn a:hover {
    background-color: #c0301c;
    opacity: 1;
}

.latest-works {
    display: flex;
    width: 1140px;
    padding-bottom: 69px;
}

.latest-works ul {
    list-style: none;
}

.latest-works__menu {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    color: #555555;
    margin-top: 22px;
}

.latest-works__menu li {
    margin-left: 22px;
}

.latest-works__menu li:hover {
    color: #c0301c;
    cursor: default;
}

.latest-works__list-works {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.latest-works__list-works li {
    display: flex;    
    height: 320px;
    width: 360px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-image: url(img/work_img_1.png);
}

.latest-works__list-works li:nth-child(2) {
    background-image: url(img/work_img_2.png);
}

.latest-works__list-works li:nth-child(3) {
    background-image: url(img/work_img_3.png);
}

.latest-works__list-works li:nth-child(4) {
    background-image: url(img/work_img_4.png);
}

.latest-works__list-works li:nth-child(5) {
    background-image: url(img/work_img_5.png);
}

.latest-works__list-works li:nth-child(6) {
    background-image: url(img/work_img_6.png);
}

.latest-works__list-works li:nth-child(7) {
    background-image: url(img/work_img_7.png);
}

.latest-works__list-works li:nth-child(8) {
    background-image: url(img/work_img_8.png);
}

.latest-works__list-works li:nth-child(9) {
    background-image: url(img/work_img_9.png);
}

.latest-works__list-works div:hover{
    background-color: rgba(192, 48, 28, 0.7);
}

.latest-works__list-works div:hover h7, .latest-works__list-works div:hover span,
.latest-works__list-works div:hover button {
    visibility: visible;
}

.latest-works__list-works li:nth-child(3n+3) {
    margin-right: 0;
}

.latest-works__list-works div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 320px;
    width: 360px;    
}

.latest-works__list-works h7 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 103px;
    visibility: hidden;
}

.latest-works__list-works span {
    font-family: "Roboto Slab", serif;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    margin: auto;
    margin-top: 10px;
    visibility: hidden;
}

.latest-works__list-works button {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #c0301c;
    margin: auto;
    height: 40px;
    width: 100px;
    border: none;
    margin-top: -82px;
    background-color: #ffffff;
    visibility: hidden;
}

.parallax {
    display: flex;
    padding-bottom: 189px;
    position: relative;
}

.parallax__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    top: 90px;
    font-family: "Roboto Slab", serif;
    font-size: 28px;    
    color: #ffffff;
    z-index: 3;
}

.parallax__text i {
    text-transform: uppercase;
    font-style: normal;
}

.parallax__text h3 {
    font-weight: 400;
}

.parallax__text button {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 180px;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 44px;
    padding: 10px 10px 12px 10px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: transparent;
    color: #ffffff;
}

.parallax__text button:hover {
    background-color: #fff;
    color: #c0301c;
}


.parallax__img {
    display: flex;
    position: absolute;
    width: 100%;
    height: 369px;
    background-image: url(img/parallax_img.png);
    background-position: 0px -675px;
    background-repeat: no-repeat;
    top: 0px;
    z-index: 1;
}

.parallax_cover {
    display: flex;
    background-color: #c0301c;
    width: 100%;
    height: 369px;
    opacity: 0.5;    
    position: absolute;
    top: 0px;
    z-index: 2;
}

.blog {
    width: 1140px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 101px;
}

.blog article {
    display: flex;
    flex-direction: row;
    margin-top: 46px;
}

article img {
    margin-right: 39px;
}

.blog__date-name {
    display: flex;
    flex-direction: row;    
}

.blog__date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 72px;
    height: 72px;
    border: 2px solid #555555;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px; 
    color: #777777;
    margin-right: 28px;
    letter-spacing: 2px;
}

.blog__date span:nth-child(2) {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.blog__name {
    display: flex;
    flex-direction: column;
    margin-top: 11px;
}

.blog__name h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #555555;
}

.blog__name span {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    margin-top: 12px;
    color: #777777;
}

.blog__text {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    line-height: 24px;
    font-family: "Roboto Slab", serif;
}

.blog__text p {    
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 24px;
    color: #555555;
}

.blog__text span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #777777;
}

.blog__line {
    height: 1px;
    background-color: #dddddd;
    margin-top: 38px;
}

.blog article:last-child {
    margin-top: 38px;
}

.blog article:hover .blog__text span, .blog article:hover .blog__name h5,
.blog article:hover .blog__name i {
    color: #c0301c;
}

.blog__text span:hover {
    cursor: pointer;
    width: 84px;
}

.clients {
    background-color: #f8f8f8;
    padding-bottom: 100px;
    }

.clients__logos {
    width: 1140px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    margin-top: 98px;
    margin-bottom: 50px;
}

.clients__logos img {    
    display: flex;
    margin-right: 60px;
    /* border: 1px solid red; */
    /* width: 142px; */
    /* height: 17px; */
    
}

.clients__logos img:nth-child(1) {
    width: 141px;
    height: 27px;
} 
.clients__logos img:nth-child(2) {
    width: 121px;
    height: 49px;
} 
.clients__logos img:nth-child(3) {
    width: 142px;
    height: 17px;
} 
.clients__logos img:nth-child(4) {
    width: 109px;
    height: 21px;
} 
.clients__logos img:nth-child(5) {
    width: 123px;
    height: 46px;
} 

.clients p {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Roboto Slab", serif;
    width: 760px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
    color: #555555;
}

.clients span {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    color: #555555;
}

.clients__list-points {
    list-style: none;
    display: flex;
    justify-content: center;
}

.clients__list-points li {
    width: 13px;
    height: 13px;
    background-color: #c0301c;
    border-radius: 50%;
    margin-top: 39px;
}

.clients__list-points li:nth-child(2) {
    margin-left: 7px;
    margin-right: 7px;
}

.contact-form {
    padding-bottom: 101px;
}
.contact-form__common-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 1140px;
    margin: auto;
    margin-top: 52px;
}

.contact-form__common-section div {
    display: flex;
    flex-direction: column;
}

.contact-form__common-section form {
    display: flex;
    flex-direction: column;
}

.contact-form__address-text {
    margin-right: 210px;
}

.contact-form__address-text h7 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    padding-left: 25px;
}

.contact-form__address-text span {
    font-family: "Roboto Slab", serif;
    font-size: 12px;
    margin-top: 12px;
    padding-left: 25px;
    width: 150px;
    line-height: 19px;
    margin-bottom: 13px;
}

.contact-form__address-text h7::before {
    content: ' ';
    display: flex;
    background-repeat: no-repeat;
    width: 16px;
    height: 21px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.addres::before {background-image: url(img/contact_icon_1.png);}
.phone::before {background-image: url(img/contact_icon_2.png);}
.email::before {background-image: url(img/contact_icon_3.png);}

.contact-form__address-text span:nth-of-type(2) {width: 160px;}
.contact-form__address-text h7:nth-of-type(3) {margin-top: 19px;}

.contact-form__common-section input {
    border: 1px solid #555555;
    height: 40px;
    width: 332px;
    margin-right: 30px;
    margin-bottom: 23px;
    padding-left: 16px;
}

.contact-form__common-section input::placeholder {
    border: 1px solid #555555;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-size: 12px;
}

.contact-form__common-section input:focus {
    border: 1px solid #c0301c;
    outline: none;
}

.contact-form__common-section textarea {
    width: 712px;
    height: 90px;
    padding-left: 16px;
    border: 1px solid #555555;
    resize: none;
    padding-top: 10px;
    margin-bottom: 23px;
}

.contact-form__common-section textarea::placeholder {
    border: 1px solid #555555;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}

.contact-form__common-section textarea:focus {
    border: 1px solid #c0301c;
    outline: none;
}

.contact-form__common-section form div {
    display: flex;
    flex-direction: row;
}

.contact-form__common-section form button {
    width: 170px;
    height: 43px;
    border: 1px solid #555555;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    background-color: transparent;
    color: #555555;
    margin-right: 36px;
}

.contact-form__common-section form button:hover {
    border: 1px solid #c0301c;
    color: #c0301c;
    cursor: pointer;
}

.contact-form__common-section form div:nth-child(4) {
    display: flex;
    align-items: center;
    font-family: "Roboto Slab", serif;
    font-size: 12px;
}

footer {
    background-color: #c0301c;
    width: 1600px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    
}

footer div {
    display: flex;
    justify-content: center;    
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

footer li {
    width: 32px;
    height: 32px;
    /* background-color: #555555; */
    background-image: url(img/soc_icons.png);
    background-repeat: no-repeat;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-right: 13px;
    background-position: 2px 2px;
}

footer li:nth-child(2) {
    /* margin-right: 0px; */
    background-image: url(img/soc_icons.png);
    background-position: -28px 2px;
}

footer li:nth-child(3) {
    /* margin-right: 0px; */
    background-image: url(img/soc_icons.png);
    background-position: -60px 3px;
}

footer li:last-child {
    margin-right: 0px;
    background-image: url(img/soc_icons.png);
    background-position: -92px 3px;
}

footer span {
    font-family: "Roboto Slab", serif;
    font-size: 12px;
    text-transform: uppercase;

}

footer span::before {
    content: ' ';
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 29px;
    /* background-color: #fff; */
    border-bottom: 2px solid #ffffff;
    line-height: 20px;
    position: relative;
    top: -25px;
    width: 48px;
}

footer span {
    margin-top: 25px;
    color: #ffffff;
    padding-bottom: 80px;
}




